exclude: '.git|.tox'
default_stages: [pre-commit]
fail_fast: true

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      # Run the linter (respects [tool.ruff.lint] in pyproject.toml)
      - id: ruff
        args: [--fix]
      # Run the formatter (respects [tool.ruff.format] in pyproject.toml)
      - id: ruff-format
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
